body {
    background-image: url('../images/background.jpg');
}

#game-title {
    margin: 10px 5px;
    padding: 5px;
    height: 75px;
    width: 225px;
    font-size: 26px;
    font-weight: 800;
    color: white;
    background-color: #d72;
    line-height: 75px;
}

#instructions {
    margin: 10px 5px;
    padding: 5px;
    height: 350px;
    width: 400px;
    color: #7a6;
    background-color: #fed;
    font-weight: 700;
}

#target-score {
    margin: 0px 5px 10px 5px;
    padding: 5px;
    height: 100px;
    width: 150px;
    background-color: #6d8;
    float: left;
}
